
body {
  margin: 0px;
}
header {
  text-align: center;
  background-color: #71757A;
  color: white;
}
a {
  color: #253040;
}
.nav-link {
  color: gray;
}
h1 {
  font-size: 70px;
}
h2 {
  color: #404245;
}
p {
  color: #55585C;
}
img.header-image {
  margin: 40px 0px 0px 0px;
  border: 7px solid #472400;
  border-radius: 20px;
  width: 300px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, .5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.active {
  color: #AFB5BD;
}
article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;

}
@media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }
    li {
        display: block;
        padding: 5px;

    }
}